name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        # Creates the environment and installs packages from pyproject.toml or uv.lock
        run: uv sync --all-extras --dev

      - name: Run Tests
        # 'uv run' automatically executes the command inside the project's environment
        run: uv run python -m unittest discover tests

